language: node_js
services:
  - docker
dist: trusty
node_js:
  - 8
branches:
  only:
    - master
install: make install
script: make test
after_success:
  - docker login --username=_ --password=${HEROKU_API_KEY} registry.heroku.com
  - docker build --tag registry.heroku.com/coucool/web .
  - docker push registry.heroku.com/coucool/web
