#app nav {
    height: 50px;
    background-color: aliceblue;
    display: flex;
    padding: 10px;
    border-bottom: solid royalblue 1px;
}

#app nav span {
    flex: 1;
    font-size: 12pt;
    font-weight: bold;
    color: royalblue;
    line-height: 50px;
}
