#game {
    overflow: hidden;
    flex-grow: 1;
}

#game div.cell {
    flex-shrink: 0;
    border: solid royalblue 1px;
}

#game div.cell.on {
    background-color: royalblue;
}

#game div.cell {
    margin: -1px;
    background-color: aliceblue;
}

#game div.line {
    display: flex;
    flex-direction: row;
}

#game div.line:first-child div.cell {
    margin-top: 0;
}

#game div.cell:first-child {
    margin-left: 0;
}

#game div.cell.off:hover {
    background-color: #b5d0ff;
}

#game div.cell.on:hover {
    background-color: #488dff;
}
